.forecast {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.daily-forecast {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 10px;
}
.icon {
  width: 2rem;
}
.grid-forecast {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
}

@media only screen and (min-width: 720px) {
  .forecast {
    width: 60%;
  }
  .icon {
    width: 3.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .forecast {
    width: 70%;
  }
  .icon {
    width: 4rem;
  }
  .daily-forecast {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  .forecast {
    width: 50%;
  }
}
