/* weather.js */
.weather-wrapper{
  margin-left: 100px;
  margin-right: 100px;
}
.weather{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.weather-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.weather-name{
  margin: 40px; 
}

.weather-temp{
  margin: 40px;
}

.weather-type{
  font-size: 32px;
}
.desc{
  font-size: 32px;
 
}
.temp {
  font-size: 42px;
 
}

.weather-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.weather-icon{
  width: 200px;
}

.weather-type{
  position: relative;
  bottom: 30px;
}

/* Condition */
.condition-wrapper {
  position: relative; 
  border-radius: 20px;
  background: rgb(131,130,148);
  background: linear-gradient(0deg, rgba(131,130,148,1) 100%, rgba(106,106,106,0) 100%, rgba(0,212,255,1) 100%);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.content-list {
  margin-left: 20px;
  row-gap: 20px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.content {
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: flex-start;
}

.cIcon {
  font-size: 24px;
  margin-right: 10px;
}

.text {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .weather-wrapper{
    margin-left: 0px;
    margin-right: 0px;
  }
}


