.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin-bottom: 20px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .title {
    text-align: left;
  }
}

.weather-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  align-items: center;
  width: 50%;
  background: rgb(
    204,
    204,
    204
  ); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.3);
}

.temperture {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp {
  font-size: 10vh;
}

.bottom {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.content-list {
  column-gap: 15px;
  display: grid;
  grid-template-columns: auto auto;
}

.content {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-around;
}
