.center{
   opacity: 0.6;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 55%;
   margin: 20px;
   border-radius: 20px ;
 }
 
 .right{
   opacity: 0.6;
   background: rgb(131,130,148);
   background: linear-gradient(0deg, rgba(131,130,148,1) 100%, rgba(106,106,106,0) 100%, rgba(0,212,255,1) 100%);
   width: 30%;
   margin: 100px 20px 20px 20px;
   border-radius: 20px;
 
 }

 /* cities page */
 .city-center{
    opacity: 0.6;
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: 20px;
    border-radius: 20px;
 }

 .cities{
  margin-top: 50px;
 }

/* Setting view */
.setting-center {
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 20px;
  border-radius: 20px;
}

.settings-wrapper {
  opacity: 0.6;
  background: rgb(131, 130, 148);
  background: linear-gradient(0deg, rgba(131, 130, 148, 1) 100%, rgba(106, 106, 106, 0) 100%, rgba(0, 212, 255, 1) 100%);
  width: 100%;
  border-radius: 20px;
}

.title {
  margin: 20px;
}

.sub-title {
  margin-left: 20px;
}

.settings {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.setting {
  display: flex;
  margin: 20px;
  border-radius: 10px;
  padding: 3px;
  background: rgb(22, 21, 45);
  background: linear-gradient(0deg, rgba(22, 21, 45, 1) 100%, rgba(106, 106, 106, 0) 100%, rgba(0, 212, 255, 1) 100%);
}

.temp-selection,
.wind-selection,
.pressure-selection,
.precip-selection,
.distance-selection {
  width: 50%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.temp-selection.selected,
.wind-selection.selected,
.pressure-selection.selected,
.precip-selection.selected,
.distance-selection.selected {
  background-color: #4CAF50; /* Green color for selected items */

}

.temp-selection:hover,
.wind-selection:hover,
.pressure-selection:hover,
.precip-selection:hover,
.distance-selection:hover {
  cursor: pointer; 
  background-color: #555; 
}













