.app {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  min-height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  background: url("./assets/background.png") no-repeat center center/cover;
}

.app.warm {
  background: url("./assets/warm.png") no-repeat center center/cover;
}

.app.cold {
  background: url("./assets/cold.png") no-repeat center center/cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 960px) {
  .wrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    width: 50%;
  }
}
.top {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  padding: 6px;
  width: 50%;
  text-align: center;
  margin-right: 25%;
  resize: none;
  outline: none;
}

.button {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.767);
  color: white;
  border: 0px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}
