.app {  
  color: #fff;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background: rgb(22,21,45);
  background: linear-gradient(0deg, rgba(22,21,45,1) 100%, rgba(106,106,106,0) 100%, rgba(0,212,255,1) 100%);

}
.app-left{
  opacity: 0.6;
  background: rgb(131,130,148);
  background: linear-gradient(0deg, rgba(131,130,148,1) 100%, rgba(106,106,106,0) 100%, rgba(0,212,255,1) 100%);
  width: 7%;
  margin: 20px;
  border-radius: 20px;


}


p {
  font-size: 16px;
}


