.app {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./assets/background.png") no-repeat center center/cover;
}

.app.warm {
  background: url("./assets/warm.png") no-repeat center center/cover;
}

.app.cold {
  background: url("./assets/cold.png") no-repeat center center/cover;
}
/* weather */

.title {
  margin-bottom: 20px;
}
.search {
  width: 100%;
  text-align: center;
}
.search-bar {
  padding: 6px;
  width: 50%;
  text-align: center;
  resize: none;
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.top {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.temperture {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp {
  font-size: 10vh;
}

.bottom {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.extra {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  font-size: 20px;
}

/* forecast css */

.forecast {
  width: 50%;
}
.daily-forecast {
  margin-bottom: 20px;
}

.weather-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  font-size: 23px;
  font-weight: 700;
}

.icon {
  width: 40px;
}

.day {
  cursor: inherit;
  color: #212121;
  font-weight: 600;
  margin-left: 15px;
}

.description {
  cursor: inherit;
  flex: 1 1;
  margin-right: 15px;
  text-align: right;
}

.min-max {
  color: #757575;
}

.daily-details-grid {
  column-gap: 15px;
  display: grid;
  grid-template-columns: auto auto;
}

.daily-details-item {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
}
.button {
  display: flex;
}
